extends layout

block content
  h1= title
  p Welcome to #{title}
    ul
     - each api in apis
        li "Product API"
            ul
             - each product in api.products
                li
                 = product.name + " " + product.url

