extends layout
block js
    script(src="/javascripts/library/angular.min.js")
    script(src = "/javascripts/library/angular-resource.min.js")
    script(src = "/javascripts/ng-script/Application.js")
    script(src = "/javascripts/ng-script/app-controller.js")
    script(src = "/javascripts/ng-script/app-service.js")

block content
    div(class='basic-app-container' ng-app="irfan.basic.Application" ng-controller='basic.ctrl')
        div(class='basic-app-table' ng-show="viewPage === 'ngtable'")
            div(class='fullwidth inline')
                h2(class='inline') Product List
                a(href='#form', ng-click="goesToForm()" class='button button--blue margin right') Add New

            div(id="form-error-message")
            table(class="table")
                thead(class="table__head")
                    tr
                        th No
                        th Title
                        th Description
                        th Price
                        th Last Update
                        th Action
                tbody(class="table__body")
                    tr(ng-repeat="product in products")
                        td {{$index+1}}
                        td(ng-bind="product.title")
                        td(ng-bind="product.description")
                        td(ng-bind="product.price")
                        td(ng-bind="product.modified")
                        td
                            a(href='#form', ng-click="goesToForm(product)" , class='button button--blue margin') Update
                            a(href='#delete', ng-click="submitDelete(product._id)", class='button button--red margin') Delete
        div(class='basic-app-form' ng-show="viewPage === 'ngform'")
            include angular-app-form