extends layout

block content
    div(class='fullwidth inline')
        h2(class='inline') Product List
        a(href='#{root}/app/form', class='button button--blue margin right') Add New
    div(id="form-error-message")
    table(class="table")
        thead(class="table__head")
            tr
                th No
                th Title
                th Description
                th Price
                th Last Update
                th Action
        tbody(class="table__body")
            - each product, index in products
                tr
                  td
                    = index+1
                  td
                    = product.title
                  td
                    = product.description
                  td
                    = product.price
                  td
                    = product.modified
                  td
                    a(href='./app/form/#{product._id}', class='button button--blue margin') Update
                    a(href='#delete', onclick="submitDelete('#{product._id}')", class='button button--red margin') Delete
