extends layout

block content
  h1= title
     - each api in apis
        h2 Product API List
        p
            table.table.table-striped
                thead
                    tr
                        th NAME
                        th URL
                        th METHOD
                        th ACTION
                tbody
                - each product in api.products
                    tr
                      td
                        = product.name
                      td
                        = product.url
                      td
                        = product.method
                      td
                        a(href=product.url, class='btn btn-info', target='blank') View


