extends layout

block content
    h1= title
    div(class='fullwidth inline')
        h2(class='inline') Product API List
        a(href='./app', class='btn btn-danger margin inline right') Server Render Application!
        a(href='./angularapp', class='btn btn-danger margin inline right') Angular Application!
        a(href='./vueapp', class='btn btn-danger margin inline right') Vue Application!
    - each api in apis
        table.table.table-striped
            thead
                tr
                    th NAME
                    th URL
                    th METHOD
                    th ACTION
            tbody
            - each product in api.products
                tr
                    td
                        = product.name
                    td
                        = product.url
                    td
                        = product.method
                    td
                        a(href=product.url, class='btn btn-info', target='blank') View


