doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://mazipan.github.io/demo/awesome-bemcss/awesome-bemcss.min.css", )
    block css
  body
    div(class='container')
      block content
    script(src="/javascripts/library/jquery-1.11.0.min.js")
    script(src="https://mazipan.github.io/demo/awesome-bemcss/awesome-bemcss.min.js")
    script const ROOT_URL = "http://localhost:3000";
    block js
    script(src="/javascripts/custom.js")

